<div class="nav-main border">
    <LinkTo @route="home" class="nav-link home-button border">Home</LinkTo>
    <LinkTo @route="home.contacts" class="nav-link border">Contacts</LinkTo>
    <LinkTo @route="home.about" class="nav-link border">About</LinkTo>
</div>
<div class="app-body border">
{{outlet}}
</div>